.faq-banner {
    .banner {
        display: flex;
        justify-content: center;
    }

    .divider {
        background-color: #D2DFD9;
        height: 4rem;
        display: flex;
        align-items: center;
        }

    p {
        margin-left: 5rem;
            font-size: x-large;
    }
}

.vragen {
    
}