footer {
  .footer_links {
    background-color: #FA6E6E;
    text-align: center;
    height: 4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  } 
  
  a {
    color: white;
    text-decoration:none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  }
}
     
    