*{
    margin: 0;
    padding: 0;
}

.upper-text{
    margin: 80px;
    display: flex;
}

.upper-text > .upper-text-content > .title{
    font-size: 60px;
}

.upper-text > .upper-text-content > .text-1{
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.upper-text > .upper-text-content > .text-2{
    font-size: 25px;
    white-space: pre-line;
    margin-right: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.upper-text > .image{
    display: flex;
    margin: 10px;
    height: 30rem;
 
    position: relative;
    top: -35px;
    left: 6rem;
}
.page-divider{
    background: #D2DFD9;
    height: 4rem;
    display: flex;
    align-items: center;
    position: relative;
    top: -124px;
    
}
.page-divider > .page-divider-text{
    font-size: 30px;
    height: 2rem;
    position: relative;
    left: 4rem;
}
.big-hug-content > .big-hug-text{
    font-size: 30px;
    white-space: pre-line;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 4rem;
    position: relative;
    top: -170px;
    left: 4rem;
    width: 50%;
}    
.big-hug-content > .big-hug-img{
    left: 60%;
    position: relative;
    top: 52%;
    width: 25rem;
}
.big-hug-content > .big-hug-slide > .big-hug-names{
    text-align: center;
    font-size: 40px;
    position: relative;
    left: -200px;
    top: 10rem;
}
.big-hug-content > .big-hug-slide{
    display: flex;
    position: relative;
    left: 40%;
    // top: -15rem;
   max-width: 20rem;
}