*{
    margin: 0;
    padding: 0;
}

.upper-text{
    margin: 80px;
    display: flex;
}

.upper-text > .upper-text-content > .title{
    font-size: 60px;
}

.upper-text > .upper-text-content > .text-1{
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.upper-text > .upper-text-content > .text-2{
    font-size: 25px;
    white-space: pre-line;
}
.upper-text > .image{
    display: flex;
    margin: 10px;
    height: 30rem;
}
.page-divider{
    background: #D2DFD9;
    height: 4rem;
    display: flex;
    align-items: center;
}
.page-divider > .page-divider-text{
    font-size: 30px;
    height: 2rem;
}
.big-hug-content > .big-hug-text{
    font-size: 30px;
    white-space: pre-line;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}    
.big-hug-content > .big-hug-img{
    left: 60%;
    position: absolute;
    top: 70%;
}